/* ===== Fonts ===== */

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

/* ===== Global Selectors ===== */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 1280px;
	min-height: 100%;
	margin: 0;
	font: 22px / 26px "PT Sans", sans-serif;
	color: #000000;
	background-color: #f2f2f2;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

/* ===== Public Classes ===== */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	white-space: nowrap;
	border: 0;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.section-container {
	padding: 0 70px;
}

.main-container {
	flex-grow: 1;
}

/* === Headings and Texts === */

.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-title {
	margin: 0;
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
}

.section-title {
	margin: 0;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.block-title {
	margin: 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.text-heading-capitalize {
	margin: 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
}

.section-description {
	margin: 0;
	color: #333333;
}

.block-description {
	margin: 0;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

/* === Buttons === */

.button {
	display: inline-flex;
	justify-content: center;
	margin: 0;
	padding: 8px 20px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}

.button-big {
	font-size: 20px;
	line-height: 36px;
}

.button-brown {
	background-color: #756157;
}

.button-brown:hover,
.button-brown:focus {
	background-color: #615048;
}

.button-brown:active {
	background-color: #756157;
}

.button-blue {
	background-color: #82b3d3;
}

.button-blue:hover,
.button-blue:focus {
	background-color: #68a2ca;
}

.button-blue:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #82b3d3;
}

.button-green {
	padding: 8px 18px;
	background-color: #7db54f;
}

.button-green:hover,
.button-green:focus {
	background-color: #6c9e42;
}

.button-green:active {
	background-color: #7db54f;
}

.button-transparent {
	background-color: transparent;
}

.button-transparent:hover {
	opacity: 0.6;
}

.button-transparent:focus-visible {
	outline: 3px solid #83b3d3;
	outline-offset: -3px;
}

@supports not selector(:focus-visible) {
	.button-transparent:focus {
		outline: 3px solid #83b3d3;
		outline-offset: -3px;
	}
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
	color: #ffffff;
	background-color: #e5e5e5;

	cursor: default;
}

.button-transparent:disabled,
.button-transparent:disabled:hover,
.button-transparent:disabled:active {
	opacity: 0.1;
	background-color: transparent;
}

/* === Fields === */

.field {
	margin: 0;
	padding: 14px 20px;
	font-family: inherit;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #f2f2f2;
	border: 0;
	border-radius: 4px;
}

.field::placeholder {
	color: #000000;
	opacity: 0.6;
}

.text-field:hover {
	background-color: #e6e6e6;
}

.text-field:focus {
	position: relative;
	z-index: 1;

	background-color: #e6e6e6;
	outline: 3px solid #83b3d3;
}

.text-field:active {
	padding: 0 18px;

	background-color: #f2f2f2;
	border: 2px solid #000000;
}

/* ===== Header ===== */

.page-header {
	z-index: 1;
	display: flex;
	align-items: flex-start;
}

.logo {
	z-index: 1;
	flex-shrink: 0;
	margin: 0 28px -7px 0;
}

.logo-image {
	display: block;
	object-fit: fill;
}

.main-navigation {
	margin-right: 40px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	min-width: 339px;
	max-width: 540px;
}

.site-navigation-link {
	position: relative;
	display: block;
	padding: 20px 16px;
	text-decoration: none;
	color: inherit;
}

.site-navigation-link[aria-current="page"]::after {
	position: absolute;
	right: 16px;
	bottom: -1px;
	left: 16px;

	border-bottom: 2px solid #756257;

	content: "";
}

.user-menu {
	display: flex;
	flex-wrap: wrap;
	min-width: 88px;
	max-width: 132px;
	margin: 0 20px 0 auto;
}

.user-menu-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 44px;
	height: 64px;
	color: inherit;
}

.user-menu-button::before {
	width: 20px;
	height: 20px;

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: currentcolor;

	content: "";
}

.user-menu-search::before {
	mask-image: url("../icons/stack.svg#user-menu-search");
}

.user-menu-heart::before {
	mask-image: url("../icons/stack.svg#user-menu-heart");
}

.heart-counter {
	position: absolute;
	top: 11px;
	right: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	color: #ffffff;
	background-color: #7db54f;
	border-radius: 50px;
}

.page-header-link:hover,
.page-header-link:focus {
	color: #756157;
}

.page-header-link:active {
	color: rgba(117, 97, 87, 0.3);
}

.user-button {
	flex-shrink: 0;
	width: 160px;
	margin: 14px 0;
}

/* ===== Footer ===== */

.page-footer {
	margin-top: auto;
	padding-top: 45px;
	padding-bottom: 35px;
}

.page-footer-wrapper {
	display: grid;
	grid-template-columns: 192px 1fr 165px;
	gap: 42px;
	align-items: center;
}

.socials-list {
	display: flex;
	flex-wrap: wrap;
}

.socials-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 40px;
}

.socials-link::before {
	width: 33px;
	height: 32px;

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: #83b3d3;

	content: "";
}

.socials-vk::before {
	mask-image: url("../icons/stack.svg#socials-vkontakte");
}

.socials-telegram::before {
	mask-image: url("../icons/stack.svg#socials-telegram");
}

.socials-youtube::before {
	mask-image: url("../icons/stack.svg#socials-youtube");
}

.socials-link:hover::before,
.socials-link:focus::before {
	background-color: #68a2ca;
}

.socials-link:active::before {
	background-color: rgba(104, 162, 202, 0.3);
}

.page-footer-contacts {
	font-style: normal;
	text-align: center;
}

.page-footer-phone {
	display: block;
	width: 331px;
	margin: 0 auto;
	font-size: 40px;
	line-height: 40px;
	text-decoration: none;
	color: inherit;
}

.web-developer-logo {
	justify-self: end;
	width: 115px;
	height: 33px;
	color: inherit;
}

.web-developer-logo::before {
	display: block;
	width: 115px;
	height: 33px;

	mask: url("../icons/stack.svg#logo-htmlacademy") no-repeat center / contain;
	background-color: currentcolor;

	content: "";
}

/* ===== Main Index ===== */

/* === Hero === */

.hero-image {
	position: relative;
	padding: 51px 0 82px;
	background-color: rgba(131, 179, 211, 0.7);
	background-image: url("../images/hero-background.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.hero-image::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	height: 57px;

	background-image: url("../images/hero-divider.svg");
	background-repeat: no-repeat;
	background-size: 100%;

	content: "";
}

.hero-welcome {
	display: block;
	margin: 0 auto;
	object-fit: fill;
}

.hero-text {
	padding: 69px 273px 90px;
	text-align: center;
}

.hero-title {
	margin-bottom: 25px;
}

/* === Advantages === */

.advantages-list {
	display: flex;
	flex-wrap: wrap;
}

.advantages-item-divider-white {
	display: flex;
	color: #ffffff;
	background-color: #82b3d3;
}

.advantages-item-divider-black:nth-child(even) {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-divider-black:nth-child(odd) {
	background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-icon:nth-child(odd) {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-text {
	width: 400px;
	padding: 103px 84px 121px;
	text-align: center;
}

.advantages-text-white {
	padding-top: 92px;
	padding-bottom: 111px;
}

.advantages-text-icon {
	padding-top: 70px;
	padding-bottom: 81px;
}

.advantages-title {
	margin-bottom: 30px;
}

.advantages-description-white {
	color: inherit;
}

.advantages-title::after {
	display: block;
	width: 60px;
	height: 2px;
	margin: 30px auto 0;

	background-color: rgba(0, 0, 0, 0.3);

	content: "";
}

.advantages-title.text-white::after {
	background-color: rgba(255, 255, 255, 0.3);
}

.advantages-title-icon::before {
	display: block;
	width: 84px;
	height: 84px;
	margin: 0 auto 28px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	content: "";
}

.advantages-icon-housing::before {
	background-image: url("../icons/stack.svg#advantages-housing");
}

.advantages-icon-eating::before {
	background-image: url("../icons/stack.svg#advantages-eating");
}

.advantages-icon-souvenir::before {
	background-image: url("../icons/stack.svg#advantages-souvenir");
}

/* === Hotel Search === */

.hotel-search {
	padding: 96px 304px;
	text-align: center;
}

.hotel-search-text {
	margin-bottom: 54px;
}

.hotel-search-title {
	margin-bottom: 20px;
}

.hotel-search-button {
	min-width: 376px;
	max-width: 500px;
}

/* === Subscribe === */

.subscribe {
	padding: 96px 258px 104px;
	background-color: rgba(131, 179, 211, 0.8);
	background-image: url("../images/subscribe-background-full.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.subscribe-theme-light {
	background: #ffffff;
}

.subscribe-text {
	width: 475px;
	margin: 0 auto 54px;
	text-align: center;
	color: #ffffff;
}

.subscribe-text-theme-light {
	color: #000000;
}

.subscribe-title {
	margin-bottom: 20px;
}

.subscribe-description {
	color: inherit;
}

.subscribe-form {
	display: flex;
}

.subscribe-form-field {
	flex-grow: 1;
}

.subscribe-form-input {
	width: 100%;
	height: 100%;
	border-radius: 4px 0 0 4px;
}

.subscribe-form-input:focus {
	border-radius: 4px;
}

.subscribe-form-button {
	min-width: 232px;
	max-width: 310px;
	border-radius: 0 4px 4px 0;
}

.subscribe-form-button:focus-visible {
	border-radius: 4px;
}

@supports not selector(:focus-visible) {
	.subscribe-form-button:focus {
		border-radius: 4px;
	}
}

/* ===== Main Inner ===== */

/* === Inner Header  === */

.inner-header-filter-container {
	padding-top: 35px;
	padding-bottom: 70px;
	color: #ffffff;
	background-color: rgba(131, 179, 211, 0.8);
	background-image: url("../images/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.inner-header {
	margin-bottom: 40px;
}

.inner-title {
	margin-bottom: 8px;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 21px;
}

.breadcrumbs-item {
	display: flex;
	margin-right: 10px;
}

.breadcrumbs-item:last-child {
	margin-right: 0;
}

.breadcrumbs-item::before {
	align-self: center;
	width: 8px;
	height: 20px;
	margin-right: 10px;

	mask: url("../icons/stack.svg#breadcrumbs-separator") no-repeat center / contain;
	background-color: currentcolor;

	content: "";
}

.breadcrumbs-item:first-child::before {
	content: none;
}

.breadcrumbs-link {
	text-decoration: none;
	color: inherit;
}

.breadcrumbs-home {
	display: flex;
	align-items: center;
}

.breadcrumbs-home::before {
	width: 13px;
	height: 15px;

	mask: url("../icons/stack.svg#breadcrubs-home") no-repeat center / contain;
	background-color: currentcolor;

	content: "";
}

.breadcrumbs-link:hover {
	color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
	color: #ffffff;
}

.breadcrumbs-link:active {
	color: rgba(255, 255, 255, 0.3);
}

/* === Catalog Filter === */

.filter {
	display: grid;
	grid-template-columns: 151px 151px 1fr 191px;
	gap: 70px;
	align-items: start;
}

.filter-group {
	margin: 0;
	padding: 0;
	border: 0;
}

.filter-price {
	justify-self: end;
	width: 288px;
}

.filter-title {
	margin-bottom: 32px;
	padding: 0;
	border: 0;
}

.filter-list {
	font-size: 18px;
	line-height: 23px;
}

.filter-item {
	margin-bottom: 16px;
}

.filter-item:last-child {
	margin-bottom: 0;
}

.filter-control {
	display: flex;
	align-items: center;
}

.filter-mark {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	margin-right: 16px;

	background-color: #ffffff;
}

.filter-mark-checkbox {
	border-radius: 4px;
}

.filter-mark-radio {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
}

.filter-input-checkbox:checked + .filter-mark-checkbox::before {
	display: block;
	width: 20px;
	height: 19px;
	margin-top: 1px;

	background: url("../icons/stack.svg#filter-tick") no-repeat center / contain;

	content: "";
}

.filter-input-radio:checked + .filter-mark-radio::before {
	width: 10px;
	height: 10px;

	background-color: #3f5e72;
	border-radius: 50%;

	content: "";
}

.filter-input-label:hover {
	opacity: 0.6;
}

.filter-input:focus + .filter-input-mark {
	outline: 3px solid #83b3d3;
}

.filter-input-label:active {
	opacity: 0.3;
}

.filter-buttons {
	display: grid;
	gap: 32px;
	margin-top: 56px;
}

/* Filter Range */

.filter-range {
	min-height: 104px;
}

.filter-range-fields {
	display: grid;
	grid-template-columns: repeat(2, 143px);
	column-gap: 2px;
	margin-bottom: 44px;
}

.filter-range-field {
	position: relative;
}

.filter-range-input {
	width: 143px;
	height: 48px;
	padding-right: 45px;
	font-weight: 700;
	appearance: textfield;
}

.filter-range-input:active {
	padding-right: 43px;
}

.filter-range-input::-webkit-outer-spin-button,
.filter-range-input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.filter-range-min {
	border-radius: 4px 0 0 4px;
}

.filter-range-max {
	border-radius: 0 4px 4px 0;
}

.filter-range-label {
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 2;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	transform: translateY(-50%);
}

.filter-range-scale {
	position: relative;

	width: 286px;
	height: 4px;
	margin: 0 auto;

	background-color: rgba(255, 255, 255, 0.3);
}

.filter-range-bar {
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4px;

	background-color: #ffffff;
}

.filter-range-toggle {
	width: 20px;
	height: 20px;
	padding: 0;

	background-color: #ffffff;
	border: 0;
	border-radius: 5px;

	cursor: pointer;
}

.filter-range-toggle:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filter-range-toggle:focus {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
	outline: 3px solid #83b3d3;
}

.filter-range-toggle:active {
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
	outline: 2px solid #83b3d3;
}

/* === Catalog Products === */

.catalog-products {
	padding-top: 50px;
	padding-bottom: 60px;
}

/* Catalog Sorting */

.catalog-sorting-view {
	display: flex;
	gap: 70px;
	align-items: flex-start;
	margin-bottom: 40px;
}

.catalog-products-title {
	margin-top: 6px;
	min-width: 338px;
}

.catalog-sorting {
	flex-shrink: 0;
	width: 292px;
	margin-left: auto;
	padding: 12px 50px 12px 18px;
	font-family: inherit;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	background: #ffffff url("../icons/stack.svg#hotels-view-arrow") no-repeat right 18px center / 14px 13px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	appearance: none;
}

.catalog-sorting:hover {
	border-color: #68a2ca;
}

.catalog-sorting:focus {
	border-color: #68a2ca;
	outline: none;
}

.catalog-sorting:active {
	border-color: #3f5e72;
}

.catalog-sorting:disabled {
	color: #000000;

	border-color: #000000;

	opacity: 0.3;
}

.catalog-view {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	min-width: 160px;
	max-width: 216px;
}

.catalog-view-button {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
}

.catalog-view-button.is-current {
	border-color: #000000;
}

.catalog-view-button:hover {
	border-color: #000000;
}

.catalog-view-button:focus-visible {
	border-color: #68a2ca;
	outline: none;
}

@supports not selector(:focus-visible) {
	.catalog-view-button:focus {
		border-color: #68a2ca;
		outline: none;
	}
}

.catalog-view-button:active {
	border-color: #000000;
}

.catalog-view-button::before {
	width: 20px;
	height: 20px;

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: currentcolor;

	content: "";
}

.catalog-view-tile::before {
	mask-image: url("../icons/stack.svg#hotels-view-tile");
}

.catalog-view-slideshow::before {
	mask-image: url("../icons/stack.svg#hotels-view-slideshow");
}

.catalog-view-list::before {
	mask-image: url("../icons/stack.svg#hotels-view-list");
}

/* Product Cards */

.catalog-product-list {
	display: grid;
	grid-template-columns: repeat(3, 340px);
	gap: 20px;
	margin-bottom: 40px;
}

.catalog-product-list::after {
	grid-column: 1 / -1;
	margin-top: 20px;
	border-bottom: 1px solid #e6e6e6;
	content: "";
}

.product-card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 340px;
	padding: 20px;
	background-color: #ffffff;
	outline: 1px solid #e6e6e6;
	border-radius: 4px;
}

.product-title {
	text-transform: none;
}

.product-image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	order: -1;
	width: 100%;
	height: 212px;
}

.product-description {
	display: grid;
	grid-template-columns: repeat(2, 140px);
	gap: 16px 20px;
}

.product-description-item:nth-child(even) {
	text-align: right;
}

.product-row-bottom {
	display: grid;
	grid-template-columns: repeat(2, 140px);
	gap: 16px 20px;
	margin-top: auto;
}

.product-hotel-star {
	display: flex;
	padding: 10px 0;
}

.product-hotel-star::before {
	height: 17px;

	background-image: url("../icons/stack.svg#hotel-card-star");
	background-repeat: repeat-x;
	background-size: 24px 17px;

	content: "";
}

.product-hotel-five::before {
	width: 120px;
}

.product-hotel-four::before {
	width: 96px;
}

.product-hotel-three::before {
	width: 72px;
}

.product-hotel-two::before {
	width: 48px;
}

.product-hotel-one::before {
	width: 24px;
}

.product-rating {
	padding: 9px 20px 8px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	background-color: #f2f2f2;
	border-radius: 4px;
}

/* Pagination */

.catalog-pagination {
	display: flex;
}

.catalog-pagination-item {
	margin-right: 8px;
}

.catalog-pagination-item:last-child {
	margin-right: 0;
}

.catalog-pagination-divider {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
}

.catalog-pagination-link {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background-color: #82b3d3;
	border-radius: 4px;
}

.catalog-pagination-link:hover,
.catalog-pagination-link:focus {
	border: 1px solid #82b3d3;
}

.catalog-pagination-link.is-current,
.catalog-pagination-link.is-current:hover,
.catalog-pagination-link.is-current:focus,
.catalog-pagination-link.is-current:active {
	color: #000000;
	background-color: #f2f2f2;
}

/* Modal */

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
	display: none;
}

.modal {
	position: relative;

	padding: 64px 70px;

	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-hotel-search {
	width: 577px;
}

.modal-close-button {
	position: absolute;
	right: 52px;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	padding: 0;

	background-color: #f2f2f2;
	border: 0;
	border-radius: 50%;

	cursor: pointer;
}

.modal-close-button::before {
	width: 20px;
	height: 20px;

	background: url("../icons/stack.svg#modal-close") no-repeat center / contain;

	content: "";
}

.modal-close-button::after {
	position: fixed;
	inset: 0;
	z-index: -1;

	content: "";
}

.modal-close-button:hover {
	background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
	background-color: #e6e6e6;
	outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
	.modal-close-button:focus {
		background-color: #e6e6e6;
		outline: 3px solid #83b3d3;
	}
}

.modal-close-button:active {
	background-color: #e6e6e6;
}

.modal-close-button:active::before {
	opacity: 0.3;
}

.modal-title {
	max-width: 479px;
	margin-bottom: 64px;
}

/* Modal Form */

.hotel-search-form {
	display: grid;
	grid-template-columns: 247px 242px;
	justify-content: space-between;
}

.hotel-search-text-group {
	display: grid;
	grid-template-columns: 1fr 440px;
	row-gap: 4px;
	grid-column: 1 / -1;
	margin: 0;
	margin-bottom: 6px;
}

.hotel-search-label {
	align-self: center;
	justify-self: start;
}

.modal-hotel-search-text {
	width: 440px;
	height: 48px;
	padding-right: 60px;

	background: #f2f2f2 url("../icons/stack.svg#modal-date") no-repeat right 20px center / 20px 20px;
}

.modal-hotel-search-text:active {
	background-position: right 18px center;
}

.hotel-search-message {
	grid-column: 2 / 3;

	min-height: 38px;
	padding: 0 20px;

	font-size: 16px;
	line-height: 21px;
	color: #333333;
}

.hotel-search-error {
	color: #ff5757;
}

.hotel-search-number-group {
	display: flex;
}

.hotel-search-number {
	display: grid;
	grid-template-columns: 40px 31px 40px;
	height: 48px;
	margin-left: auto;

	background-color: #f2f2f2;
	border-radius: 4px;
}

.hotel-search-number-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	background-color: #f2f2f2;
	border: 0;
	border-radius: 4px;

	cursor: pointer;
}

.hotel-search-number-button::before {
	width: 20px;
	height: 20px;

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: rgba(117, 97, 87, 0.3);

	content: "";
}

.number-button-minus::before {
	mask-image: url("../icons/stack.svg#modal-minus");
}

.number-button-plus::before {
	mask-image: url("../icons/stack.svg#modal-plus");
}

.hotel-search-number-button:hover::before {
	background-color: #000000;
}

.hotel-search-number-button:focus-visible::before {
	background-color: #000000;
}

@supports not selector(:focus-visible) {
	.hotel-search-number-button:focus::before {
		background-color: #000000;
	}
}

.hotel-search-number-button:focus-visible {
	z-index: 1;

	outline: 3px solid #82b3d3;
}

@supports not selector(:focus-visible) {
	.hotel-search-number-button:focus {
		z-index: 1;

		outline: 3px solid #82b3d3;
	}
}

.hotel-search-number-button:active::before {
	background-color: rgba(0, 0, 0, 0.2);
}

.hotel-search-number-input {
	padding: 0;

	text-align: center;

	appearance: textfield;
}

.hotel-search-number-input::-webkit-outer-spin-button,
.hotel-search-number-input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.hotel-search-number-input:active {
	padding: 0;
}

.modal-hotel-search-button {
	grid-column: 1 / -1;
	margin-top: 48px;
	padding: 18px 50px;

	font-family: inherit;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #83b3d3;
	border: 0;
	border-radius: 10px;

	cursor: pointer;
}

.hotel-search-button:active {
	background-color: #68a2ca;
}

/* Modal Form Tooltip */

.hotel-search-label-tooltip {
	display: flex;
	align-self: center;
}

.hotel-search-tooltip {
	position: relative;

	width: 26px;
	height: 26px;
	margin-left: 10px;
}

.tooltip-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	padding: 0;

	background-color: #83b3d3;
	border: 0;
	border-radius: 50%;
}

.tooltip-toggle::before {
	width: 20px;
	height: 20px;

	background: url("../icons/stack.svg#modal-info") no-repeat center / contain;

	content: "";
}

.tooltip-text {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;

	display: none;

	box-sizing: border-box;
	width: 256px;
	margin-top: 15px;
	padding: 20px 18px 23px 22px;

	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	background-color: #333333;
	border-radius: 10px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-text::before {
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translateX(-50%);

	width: 19px;
	height: 9px;

	background: url("../icons/stack.svg#modal-tooltip") no-repeat center / contain;

	content: "";
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
	display: block;
}
