/* ===== Fonts ===== */

@font-face {
	font-family: "PT Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/pt-sans-400.woff2") format("woff2");
}

@font-face {
	font-family: "PT Sans";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/pt-sans-700.woff2") format("woff2");
}

/* ===== Global ===== */

html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 1280px;
	min-height: 100%;
	margin: 0;
	padding: 0 40px;
	background-color: #f2f2f2;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font: 22px / 26px "PT Sans", sans-serif;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.content-container {
	flex-grow: 1;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

/* ===== Common ===== */

.section-wrapper {
	padding-right: 70px;
	padding-left: 70px;
}

.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-title {
	margin: 0;
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
}

.section-title {
	font-size: 30px;
	line-height: 1.2;
	text-transform: uppercase;
}

.block-title {
	margin: 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.text-accent {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	text-transform: capitalize;
}

.block-description {
	margin: 0;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

/* === Links and Buttons === */

.interactive-link:hover,
.interactive-link:focus {
	color: #756157;
}

.interactive-link:active {
	color: rgba(117, 97, 87, 0.3);
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	font-family: inherit;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}

.button-big {
	font-size: 20px;
	line-height: 1.8;
}

.button--brown {
	background-color: #756157;
}

.button--brown:hover,
.button--brown:focus {
	background-color: #615048;
}

.button--brown:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #756157;
}

.button:disabled,
.button--disabled {
	background-color: #e5e5e5;
	pointer-events: none;
}

.button-blue {
	background-color: #82b3d3;
}

.button-blue:hover,
.button-blue:focus {
	background-color: #68a2ca;
}

.button-blue:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #82b3d3;
}

.button-green {
	background-color: #7db54f;
}

.button-green:hover,
.button-green:focus {
	background-color: #6c9e42;
}

.button-green:active {
	background-color: #7db54f;
}

.button-transparent {
	background-color: transparent;
}

.button-transparent:hover {
	opacity: 0.6;
}

.button-transparent:focus-visible {
	outline: 3px solid #83b3d3;
	outline-offset: -3px;
}

@supports not selector(:focus-visible) {
	.button-transparent:focus {
		outline: 3px solid #83b3d3;
		outline-offset: -3px;
	}
}

.button-transparent:disabled,
.button-transparent:disabled:hover,
.button-transparent:disabled:active {
	opacity: 0.1;
	background-color: transparent;
}

/* === Fields === */

.field {
	margin: 0;
	padding: 14px 20px;
	font-family: inherit;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #f2f2f2;
	border: 0;
	border-radius: 4px;
}

.field::placeholder {
	color: #000000;
	opacity: 0.6;
}

.field:hover {
	background-color: #e6e6e6;
}

.field:focus {
	position: relative;
	z-index: 1;

	background-color: #e6e6e6;
	outline: 3px solid #83b3d3;
}

.field:active {
	padding: 0 18px;

	background-color: #f2f2f2;
	border: 2px solid #000000;
}

/* ===== Header ===== */

.header {
	z-index: 1;
	display: flex;
	align-items: flex-start;
}

.header__logo {
	z-index: 1;
	margin: 0 29px -7px 0;
}

.logo {
	display: flex;
	flex-shrink: 0;
}

.logo:hover,
.logo:focus {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.5;
}

.header__main-menu {
	margin-right: 30px;
}

.main-menu__list {
	display: flex;
	flex-wrap: wrap;
}

.main-menu__link {
	display: block;
	padding: 20px 16px;
}

.main-menu__link--current {
	position: relative;
}

.main-menu__link--current::after {
	content: "";
	position: absolute;
	right: 16px;
	bottom: -1px;
	left: 16px;
	border-bottom: 2px solid #756257;
}

.header__user-menu {
	margin: 0 20px 0 auto;
}

.user-menu {
	display: flex;
}

.user-menu__button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 44px;
	min-height: 64px;
	padding: 10px;
}

.user-menu__button::before {
	content: "";
	width: 20px;
	height: 20px;
	background-color: currentcolor;
	mask-repeat: no-repeat;
	mask-size: contain;
}

.user-menu__button--search::before {
	mask-image: url("../icons/stack.svg#search");
}

.user-menu__button--heart::before {
	mask-image: url("../icons/stack.svg#heart");
}

.user-menu__counter {
	position: absolute;
	top: 11px;
	left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 20px;
	min-height: 20px;
	padding: 4px;
	font-size: 10px;
	line-height: 1;
	text-align: center;
	color: #ffffff;
	white-space: nowrap;
	background-color: #7db54f;
	border-radius: 20px;
}

.user-menu__button:hover .user-menu__counter,
.user-menu__button:focus .user-menu__counter {
	opacity: 0.9;
}

.user-menu__button:active .user-menu__counter {
	opacity: 0.6;
}

.header__button {
	min-width: 160px;
	max-width: 180px;
	margin: 14px 0;
}

/* ===== Footer ===== */

.footer {
	margin-top: auto;
	padding-top: 45px;
	padding-bottom: 35px;
}

.footer-wrapper {
	display: grid;
	grid-template-columns: 192px 1fr 165px;
	gap: 40px;
	align-items: center;
}

.footer-socials-list {
	display: flex;
	flex-wrap: wrap;
}

.footer-socials-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 40px;
}

.footer-socials-link::before {
	width: 33px;
	height: 32px;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: #83b3d3;
	content: "";
}

.footer-socials-vk::before {
	mask-image: url("../icons/stack.svg#socials-vk");
}

.footer-socials-telegram::before {
	mask-image: url("../icons/stack.svg#socials-telegram");
}

.footer-socials-youtube::before {
	mask-image: url("../icons/stack.svg#socials-youtube");
}

.footer-socials-link:hover::before,
.footer-socials-link:focus::before {
	background-color: #68a2ca;
}

.footer-socials-link:active::before {
	background-color: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-style: normal;
	text-align: center;
}

.footer-phone {
	min-width: 331px;
	font-size: 40px;
	line-height: 40px;
	text-decoration: none;
	color: inherit;
}

.footer-developer {
	justify-self: end;
	color: inherit;
}

.footer-developer::before {
	display: block;
	width: 115px;
	height: 33px;
	mask: url("../icons/stack.svg#logo-htmlacademy") no-repeat center / contain;
	background-color: currentcolor;
	content: "";
}

/* ===== Index ===== */

/* ===== Hero ===== */

.hero__welcome {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 51px 0 82px;
	background-color: rgba(131, 179, 211, 0.7);
	background-image: url("../images/hero-background.jpg");
	background-size: cover;
}

.hero__welcome::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 57px;
	background-image: url("../images/hero-divider.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.hero__intro {
	max-width: 700px;
	margin: 0 auto;
	padding: 69px 0 90px;
	text-align: center;
}

.hero__title {
	margin: 0 0 25px;
}

.hero__text {
	margin: 0;
	color: #333333;
}

/* === Advantages === */

.advantages-list {
	display: flex;
	flex-wrap: wrap;
}

.advantages-item-blue {
	display: flex;
	color: #ffffff;
	background-color: #82b3d3;
}

.advantages-item-light {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark {
	background-color: rgba(131, 179, 211, 0.2);
}

.advantages-image {
	object-fit: cover;
}

.advantages-content {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	width: 400px;
	min-height: 384px;
	padding: 103px 83px 121px;
	text-align: center;
}

.advantages-content-blue {
	flex-shrink: 0;
	padding-top: 92px;
	padding-bottom: 111px;
}

.advantages-text-icon {
	padding-top: 70px;
	padding-bottom: 81px;
}

.advantages-title {
	order: -1;
	width: 172px;
}

.advantages-description-blue {
	color: inherit;
}

.advantages-content-divider::before {
	width: 60px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.3);
	content: "";
}

.advantages-content-blue::before {
	background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text-icon::before {
	order: -1;
	width: 84px;
	height: 84px;
	margin-bottom: -2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	content: "";
}

.advantages-text-housing::before {
	background-image: url("../icons/stack.svg#advantages-housing");
}

.advantages-text-eating::before {
	background-image: url("../icons/stack.svg#advantages-eating");
}

.advantages-text-souvenir::before {
	background-image: url("../icons/stack.svg#advantages-souvenir");
}

/* === Hotel Search === */

.product-search {
	padding: 96px 304px;
	text-align: center;
}

.product-search-text {
	margin-bottom: 54px;
}

.product-search-title {
	margin-bottom: 20px;
}

.product-search-button {
	min-width: 376px;
	max-width: 476px;
}

/* === Subscribe === */

.subscribe {
	padding: 96px 258px 104px;
	background-color: rgba(131, 179, 211, 0.8);
	background-image: url("../images/subscribe-background-full.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.subscribe-theme-light {
	background: #ffffff;
}

.subscribe-text {
	width: 475px;
	margin: 0 auto 54px;
	text-align: center;
	color: #ffffff;
}

.subscribe-text-theme-light {
	color: #000000;
}

.subscribe-title {
	margin-bottom: 20px;
}

.subscribe-description {
	color: inherit;
}

.subscribe-form {
	display: flex;
}

.subscribe-label {
	display: flex;
	flex-grow: 1;
}

.subscribe-field {
	flex-grow: 1;
	border-radius: 4px 0 0 4px;
}

.subscribe-field:focus {
	border-radius: 4px;
}

.subscribe-button {
	min-width: 232px;
	max-width: 304px;
	border-radius: 0 4px 4px 0;
}

.subscribe-button:focus-visible {
	border-radius: 4px;
}

@supports not selector(:focus-visible) {
	.subscribe-button:focus {
		border-radius: 4px;
	}
}

/* ===== Main Inner ===== */

/* === Inner Header  === */

.catalog-filter-container {
	padding-top: 35px;
	padding-bottom: 70px;
	color: #ffffff;
	background-color: rgba(131, 179, 211, 0.8);
	background-image: url("../images/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.inner-header {
	margin-bottom: 40px;
}

.inner-title {
	margin-bottom: 8px;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	gap: 8px 10px;
	font-size: 16px;
	line-height: 21px;
}

.breadcrumbs-item {
	display: flex;
	gap: 10px;
}

.breadcrumbs-item::after {
	align-self: center;
	width: 8px;
	height: 20px;
	mask: url("../icons/stack.svg#breadcrumbs-separator") no-repeat center / contain;
	background-color: currentcolor;
	content: "";
}

.breadcrumbs-item:last-child::after {
	content: none;
}

.breadcrumbs-link {
	text-decoration: none;
	color: inherit;
}

.breadcrumbs-home {
	display: flex;
	align-items: center;
}

.breadcrumbs-home::before {
	width: 13px;
	height: 15px;
	mask: url("../icons/stack.svg#breadcrumbs-home") no-repeat center / contain;
	background-color: currentcolor;
	content: "";
}

.breadcrumbs-link:hover {
	color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
	color: #ffffff;
}

.breadcrumbs-link:active {
	color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link.is-current:hover {
	color: inherit;
}

/* === Catalog Filter === */

.filter {
	display: grid;
	grid-template-columns: 151px 151px 1fr 191px;
	gap: 70px;
	align-items: start;
}

.filter-group {
	margin: 0;
	padding: 0;
	border: 0;
}

.filter-price {
	justify-self: end;
	width: 288px;
}

.filter-title {
	margin-bottom: 32px;
	padding: 0;
	border: 0;
}

.filter-list {
	font-size: 18px;
	line-height: 23px;
}

.filter-item {
	margin-bottom: 16px;
}

.filter-item:last-child {
	margin-bottom: 0;
}

.filter-control {
	display: inline-flex;
	vertical-align: top;
	cursor: pointer;
}

.filter-mark {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	margin: 1.5px 16px 1.5px 0;
	background-color: #ffffff;
}

.filter-mark-checkbox {
	border-radius: 4px;
}

.filter-mark-radio {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.filter-input-checkbox:checked + .filter-mark-checkbox::before {
	display: block;
	width: 20px;
	height: 19px;
	margin-top: 1px;

	background: url("../icons/stack.svg#filter-tick") no-repeat center / contain;

	content: "";
}

.filter-input-radio:checked + .filter-mark-radio::before {
	width: 10px;
	height: 10px;

	background-color: #3f5e72;
	border-radius: 50%;

	content: "";
}

.filter-control:hover {
	opacity: 0.6;
}

.filter-input:focus + .filter-mark {
	outline: 3px solid #83b3d3;
}

.filter-control:active {
	opacity: 0.3;
}

.filter-buttons {
	display: grid;
	gap: 32px;
	margin-top: 56px;
}

/* Filter Range */

.filter-range {
	min-height: 104px;
}

.filter-range-fields {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2px;
	margin-bottom: 44px;
}

.filter-range-field {
	position: relative;
	cursor: pointer;
}

.filter-range-input {
	width: 100%;
	height: 48px;
	padding: 12px 52px 12px 20px;
	font-weight: 700;
	appearance: textfield;
}

.filter-range-min {
	border-radius: 4px 0 0 4px;
}

.filter-range-max {
	border-radius: 0 4px 4px 0;
}

.filter-range-input::-webkit-outer-spin-button,
.filter-range-input::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
}

.filter-range-label {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	z-index: 2;
	max-width: 22px;
	white-space: nowrap;
	font-size: 18px;
	line-height: 24px;
	text-align: right;
	color: rgba(0, 0, 0, 0.3);
}

.filter-range-scale {
	position: relative;
	width: 287px;
	height: 4px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.3);
}

.filter-range-bar {
	position: absolute;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 227px;
	height: 4px;
	background-color: #ffffff;
}

.filter-range-toggle {
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.filter-range-toggle:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filter-range-toggle:focus {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
	outline: 3px solid #83b3d3;
}

.filter-range-toggle:active {
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
	outline: 2px solid #83b3d3;
}

/* === Catalog Products === */

.catalog-products {
	padding-top: 50px;
	padding-bottom: 60px;
}

/* Sorting and View */

.catalog-sorting-view {
	display: flex;
	gap: 70px;
	align-items: flex-start;
	margin-bottom: 40px;
}

.catalog-products-title {
	align-self: center;
}

.catalog-sorting {
	flex-shrink: 0;
	width: 292px;
	min-height: 49px;
	margin-left: auto;
	padding: 12px 50px 12px 18px;
	font-family: inherit;
	background: #ffffff url("../icons/stack.svg#hotels-view-arrow") no-repeat right 18px center / 14px 13px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	cursor: pointer;
	appearance: none;
}

.catalog-sorting:hover {
	border-color: #68a2ca;
}

.catalog-sorting:focus {
	border-color: #68a2ca;
	outline: none;
}

.catalog-sorting:active {
	border-color: #3f5e72;
}

.catalog-sorting:disabled {
	color: #000000;

	border-color: #000000;

	opacity: 0.3;
}

.catalog-view {
	display: flex;
	gap: 8px;
	max-width: 216px;
}

.catalog-view-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
}

.catalog-view-button.is-current {
	border-color: #000000;
}

.catalog-view-button:hover {
	border-color: #000000;
}

.catalog-view-button:focus-visible {
	border-color: #68a2ca;
	outline: none;
}

@supports not selector(:focus-visible) {
	.catalog-view-button:focus {
		border-color: #68a2ca;
		outline: none;
	}
}

.catalog-view-button:active {
	border-color: #000000;
}

.catalog-view-button::before {
	width: 20px;
	height: 20px;

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: currentcolor;

	content: "";
}

.catalog-view-tile::before {
	mask-image: url("../icons/stack.svg#catalog-view-tile");
}

.catalog-view-slideshow::before {
	mask-image: url("../icons/stack.svg#catalog-view-slideshow");
}

.catalog-view-list::before {
	mask-image: url("../icons/stack.svg#catalog-view-list");
}

/* Product Cards */

.catalog-product-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin-bottom: 40px;
}

.product-card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 340px;
	padding: 20px;
	background-color: #ffffff;
	outline: 1px solid #e6e6e6;
	border-radius: 4px;
}

.product-title {
	text-transform: none;
}

.product-image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	order: -1;
	width: 100%;
	height: 212px;
}

.product-description {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px 20px;
}

.product-description-item:nth-child(even) {
	text-align: right;
}

.product-row-bottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px 20px;
	margin-top: auto;
}

.product-button {
	padding: 8px 18px;
}

.product-hotel-star {
	display: flex;
	padding: 10px 0;
}

.product-hotel-star::before {
	height: 17px;

	background-image: url("../icons/stack.svg#hotel-card-star");
	background-repeat: repeat-x;
	background-size: 24px 17px;

	content: "";
}

.product-hotel-five::before {
	width: 120px;
}

.product-hotel-four::before {
	width: 96px;
}

.product-hotel-three::before {
	width: 72px;
}

.product-hotel-two::before {
	width: 48px;
}

.product-hotel-one::before {
	width: 24px;
}

.product-rating {
	padding: 9px 18px 8px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	background-color: #f2f2f2;
	border-radius: 4px;
}

/* Pagination */

.catalog-pagination-list {
	display: flex;
	gap: 8px;
	padding-top: 39px;
	border-top: 1px solid #e6e6e6;
}

.catalog-pagination-link {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
	max-width: 85px;
	min-height: 60px;
	padding: 11px;
	white-space: nowrap;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 4px;
}

.catalog-pagination-divider {
	color: #000000;
}

.catalog-pagination-link.is-current {
	color: #000000;
	background-color: #f2f2f2;
}

.catalog-pagination-link:hover,
.catalog-pagination-link:focus {
	border: 1px solid #82b3d3;
}

.catalog-pagination-divider:hover,
.catalog-pagination-link.is-current:hover {
	border: 1px solid rgba(255, 255, 255, 0);
}

/* Modal */

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
	display: none;
}

.modal {
	position: relative;

	padding: 64px 70px;

	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-product-search {
	width: 577px;
}

.modal-close-button {
	position: absolute;
	right: 52px;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	padding: 0;

	background-color: #f2f2f2;
	border: 0;
	border-radius: 50%;

	cursor: pointer;
}

.modal-close-button::before {
	width: 20px;
	height: 20px;

	background: url("../icons/stack.svg#modal-close") no-repeat center / contain;

	content: "";
}

.modal-close-button::after {
	position: fixed;
	inset: 0;
	z-index: -1;

	content: "";
}

.modal-close-button:hover {
	background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
	background-color: #e6e6e6;
	outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
	.modal-close-button:focus {
		background-color: #e6e6e6;
		outline: 3px solid #83b3d3;
	}
}

.modal-close-button:active {
	background-color: #e6e6e6;
}

.modal-close-button:active::before {
	opacity: 0.3;
}

.modal-title {
	max-width: 479px;
	margin-bottom: 64px;
}

/* Modal Form */

.product-search-form {
	display: grid;
	grid-template-columns: 247px 242px;
	justify-content: space-between;
}

.product-search-text-group {
	display: grid;
	grid-template-columns: 1fr 440px;
	row-gap: 4px;
	grid-column: 1 / -1;
	margin: 0;
	margin-bottom: 6px;
}

.product-search-label {
	align-self: center;
	justify-self: start;
}

.modal-product-search-text {
	width: 440px;
	height: 48px;
	padding-right: 60px;

	background: #f2f2f2 url("../icons/stack.svg#modal-date") no-repeat right 20px center / 20px 20px;
}

.modal-product-search-text:active {
	background-position: right 18px center;
}

.product-search-message {
	grid-column: 2 / 3;

	min-height: 38px;
	padding: 0 20px;

	font-size: 16px;
	line-height: 21px;
	color: #333333;
}

.product-search-error {
	color: #ff5757;
}

.product-search-number-group {
	display: flex;
}

.product-search-number {
	display: grid;
	grid-template-columns: 40px 31px 40px;
	height: 48px;
	margin-left: auto;

	background-color: #f2f2f2;
	border-radius: 4px;
}

.product-search-number-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	background-color: #f2f2f2;
	border: 0;
	border-radius: 4px;

	cursor: pointer;
}

.product-search-number-button::before {
	width: 20px;
	height: 20px;

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: rgba(117, 97, 87, 0.3);

	content: "";
}

.number-button-minus::before {
	mask-image: url("../icons/stack.svg#modal-minus");
}

.number-button-plus::before {
	mask-image: url("../icons/stack.svg#modal-plus");
}

.product-search-number-button:hover::before {
	background-color: #000000;
}

.product-search-number-button:focus-visible::before {
	background-color: #000000;
}

@supports not selector(:focus-visible) {
	.product-search-number-button:focus::before {
		background-color: #000000;
	}
}

.product-search-number-button:focus-visible {
	z-index: 1;

	outline: 3px solid #82b3d3;
}

@supports not selector(:focus-visible) {
	.product-search-number-button:focus {
		z-index: 1;

		outline: 3px solid #82b3d3;
	}
}

.product-search-number-button:active::before {
	background-color: rgba(0, 0, 0, 0.2);
}

.product-search-number-input {
	padding: 0;

	text-align: center;

	appearance: textfield;
}

.product-search-number-input::-webkit-outer-spin-button,
.product-search-number-input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.product-search-number-input:active {
	padding: 0;
}

.modal-product-search-button {
	grid-column: 1 / -1;
	margin-top: 48px;
	padding: 18px 50px;

	font-family: inherit;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #83b3d3;
	border: 0;
	border-radius: 10px;

	cursor: pointer;
}

.product-search-button:active {
	background-color: #68a2ca;
}

/* Modal Form Tooltip */

.product-search-label-tooltip {
	display: flex;
	align-self: center;
}

.product-search-tooltip {
	position: relative;

	width: 26px;
	height: 26px;
	margin-left: 10px;
}

.tooltip-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	padding: 0;

	background-color: #83b3d3;
	border: 0;
	border-radius: 50%;
}

.tooltip-toggle::before {
	width: 20px;
	height: 20px;

	background: url("../icons/stack.svg#modal-info") no-repeat center / contain;

	content: "";
}

.tooltip-text {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;

	display: none;

	box-sizing: border-box;
	width: 256px;
	margin-top: 15px;
	padding: 20px 18px 23px 22px;

	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	background-color: #333333;
	border-radius: 10px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-text::before {
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translateX(-50%);

	width: 19px;
	height: 9px;

	background: url("../icons/stack.svg#modal-tooltip") no-repeat center / contain;

	content: "";
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
	display: block;
}
